<!-- <h1>Hello World</h1> -->
{% extends "base.html" %}
{% block content %}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Number in Stock</th>
                <th>Daily Rate</th>
            </tr>
        </thead>
    </table>

    <tbody>
        {% for movie in movies %}
            <tr>
                <td>
{#                    <a href="/movies/{{ movie.id }}">{{ movie.title }} </a>#}
                    <a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a>
                </td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.number_in_stock }}</td>
                <td>{{ movie.daily_rate }}</td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}
